@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(14, 14, 14);
    padding: 0;
  
    align-items: center;
    justify-content: center;
}

    .contenido{
        width: 100%;
        height: 100vh;
        position: relative;
        margin: 0px;
        -webkit-box-reflect:below -490px linear-gradient(transparent, transparent,transparent,rgba(0, 0, 0, 0.055),rgba(0, 0, 0, 0.062));
    }
    h1{
        top:5vh;
        left: 5%;
        margin-bottom: 0px;
        margin-top: 0;
        position: absolute;
        text-align: center;
        -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        background-image: url(../image/programacion.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        font-size: 19vw;
        font-family: 'Kaushan Script', cursive;
        width: 90%;
        
    }
    .contenido p{  
        text-align: center;
        color: rgb(235, 235, 235);
        position: absolute;
        top:50vh;
        font-size: 10vh;
        font-family: 'Satisfy', cursive;
        width: 50%;
        left: 25%;
    }
    .contacto{
        text-align: center;
        position: absolute;
        margin-top: -150px;
        width: 50%;
    left: 25%;
}
.contacto ul li{
    display: inline-block;
    margin: 10px;
    font-size: 35px;
    width: 50px;
    height: 45px;
    padding-top: 5px;
    border-radius: 10px;    
    border: white solid 2px;
    box-shadow:  0 0 8px aliceblue;
    text-decoration: none;
    transition: .4s;
}
.fab{
    color: white !important;
}
.contacto ul li:hover{
    width: 60px;
    height: 55px;
    font-size: 45px;
}
.proyectos{
    margin-top: 10%;
    color: white;
}
.proyectos h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;  
}
.yo{
    margin-top: 30px;
    position: absolute;
    width: 40%;
    left: 5%;
    text-align: center;
}
.yo p{
    color: rgb(199, 199, 199);
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
}
.yo img{
    margin-inline: 20%;
    margin-bottom: 3%;    
    color: rgb(8, 223, 151);
    border-radius: 50%;
    width: 60%;
    
}
.grafico{
    width: 500px;
    float: right;
    position: absolute;
    margin-top: 40px;
    right: 5%;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 20px;
}
.yo ul li{
    display: inline-block;
    margin: 10px;
    font-size: 35px;
    width: 50px;
    height: 45px;
    padding-top: 5px;
    border-radius: 10px;    
    text-decoration: none;
    transition: .4s;
}
.fa-html5{
    color: rgb(255, 145, 0) !important;
}
.fa-css3-alt{
    color: rgb(0, 81, 255) !important;
}
.fa-js{
    color: rgb(238, 255, 0)!important;
}
.fa-react{
    color: rgb(0, 174, 255) !important;
}
.fa-git-alt{
    color: rgb(161, 12, 12) !important;
}
.fa-server{
    color: rgb(8, 223, 151) !important;
}
.pr-r{
    margin-top: 8%;
    color:white;
    text-align: center;
    margin-top: 700px;
}
.pr-r h2{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;  
}
.monitor{
    position: relative;
    width: 700px;
    height: 530px;
    background-size: cover;
    background-image: url(../image/monitor.png);
}
.proyect{
    margin-top: 50px;
    margin-bottom: 200px;
}
.texto-p{
    text-align: justify;
    position: absolute;
    width: 40%;
    margin-top: -500px;
    left: 750px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.texto-p p{
    color: rgb(177, 177, 177);
    font-size: 23px;
}
.texto-p h3{
    text-align: center;
}
.proyect h3{
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    margin-bottom: 20px;  
}
.link-p{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(20, 74, 155);
    box-shadow: 0 0 5px rgb(44, 81, 151);
    padding-block: 10px;
    padding-inline: 30px;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all .3s;
    
}
.link-p:hover{
    color: rgb(20, 74, 155);
    background-color: rgb(255, 255, 255);
}
.slider{
    position: absolute;
    height: 360px;
    top: 29px;
    margin-left: 29px;
    width: 644px;
    overflow: hidden;
}
.ima-monitor{
    object-fit: cover;
}
.slider ul{
    width:300%;
    display: flex;
    padding: 0;
    animation: cambio 12s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
.logo{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.texto-logo{
    top: -50px;
    color: rgb(116, 116, 116);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}
.ima-log{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    border-radius: 30px;
}
@keyframes cambio {
    0%{margin-left: 0;}
    25%{margin-left: 0;}
    40%{margin-left: -100%;}
    55%{margin-left: -100%;}
    70%{margin-left: -200%;}
    90%{margin-left: -200%;}
}

@media screen and (max-width:1220px) {
    .monitor{
        width: 540px;
        height: 410px;
    }
    .slider{
        height: 299px;
        width: 494px;
        margin-left: 24px;
        top: 23px;
    }
    .texto-p{
        text-align: justify;
        position: absolute;
        width: 40%;
        margin-top: -450px;
        left: 610px;
        font-size: 25px;
        font-family: 'Ubuntu', sans-serif;
    }
    .grafico{
        width: 450px;
        margin-top: 100px;
    }
    
}
@media screen and (max-width:890px){
    .texto-p{
        left: 520px;
        width: 38%;
        font-size: 22px;
        margin-top: -390px;
    }
    .monitor{
        width: 500px;
        height: 380px;
    }
    .slider{
        height: 259px;
        width: 454px;
        margin-left: 24px;
        top: 23px;
    }
    .texto-p h3{
        font-size: 25px;
    }
    .pr-r{
        margin-top: 750px;
    }
    .grafico{
        width: 400px;
    }
    .yo p{
        font-size: 22px;
    }
    .yo img{
        margin-inline: 18%;
        width: 66%;
     
    }
    .contenido p{  
        top:300px;
        font-size: 60px;
        font-family: 'Satisfy', cursive;
        width: 70%;
        left: 15%;
    }
    .contacto{
        margin-top: -150px;
        width: 70%;
        left: 15%;
    }
    .contenido{
        -webkit-box-reflect:below -550px linear-gradient(transparent, transparent,transparent,rgba(0, 0, 0, 0.055),rgba(0, 0, 0, 0.062));
    
    }

}
@media screen and (max-width:800px) {
    .yo{
        width: 100%;
    }
    .grafico{
        width: 70%;
        left: 15%;
        right: 0;
        margin-top: 750px;
        margin-right: auto ;
        margin-left: auto ;
        font-size: 20px;
    }
    .proyectos{
        margin-top: 300px;
        width: 100%;
        position: relative;
    }
    .pr-r{
        text-align: center;
        margin-top: 1400px;
    }
    .pr-r p{
        font-size: 18px;
    }
    .pr-r h2{
        font-size: 50px;
      
    }
    .texto-p{
        
        text-align: center;
        width: 90%;
        margin-top: 5%;
        left: 10%;
        font-size: 30px;
    }
    .texto-p p{
        font-size: 23px;
    }
    .monitor{
        width: 500px;
        height: 380px;
        left: 5%;
        margin-left: auto;
        margin-right: auto;
    }
    .proyect{
        margin-bottom: 500px;
    }
    .slider{
        height: 258px;
        width: 461px;
        margin-left: 20px;
        top: 20px;
    }
    .contenido p{  
        top:330px;
        font-size: 60px;
        font-family: 'Satisfy', cursive;
        width: 50%;
        left: 25%;
    }
    .contacto{
        margin-top: -100px;
        width: 70%;
        left: 15%;
    }
    .contenido{
        -webkit-box-reflect:below -510px linear-gradient(transparent, transparent,transparent,rgba(0, 0, 0, 0.055),rgba(0, 0, 0, 0.062));
    
    }
}
@media screen and (max-width:687px) {
    .contenido p{
        width: 90%;
        left: 5%;
    }
    .pr-r p{
        font-size: 18px;
    }
    .contenido{
        -webkit-box-reflect:below -500px linear-gradient(transparent, transparent,transparent,rgba(0, 0, 0, 0.055),rgba(0, 0, 0, 0.062));
    
    }
}
@media screen and (max-width:600px ) {
    .grafico{
        width: 90%;
        left: 10%;
    }
    .pr-r p{
        font-size: 18px;
    }
    .monitor{
        width: 450px;
        height: 340px;
        
        margin-left: auto;
        margin-right: auto;
    }
    .proyect{
        margin-bottom: 500px;
    }
    .slider{
        height: 234px;
        width: 413px;
        margin-left: 19px;
        top: 18px;
    }
}
@media screen and (max-width:450px) {
    .monitor{
        width: 350px;
        height: 250px;
        left: 2%
    }
    .slider{
        width: 321px;
        margin-left: 15px;
        top: 14px;
        height: 180px;
    }
    .link-p{
        font-size: 25px;
    }
    .pr-r{
        margin-top: 1290px;
    }
    .pr-r p{
        font-size: 18px;
    }
    .pr-r h2{
        font-size: 38px;
    }
    .contacto{
        margin-top: -150px;
        width: 90%;
        left: 5%;
    }
    .contacto ul li{
        font-size: 28px;
        width: 40px;
        height: 38px;
    }
    .contenido p{
        top: 200px;
        left: 10%;
    }
    .proyectos{
        margin-top: 200px;
    }
    .contenido{
        -webkit-box-reflect:below -740px linear-gradient(transparent, transparent,rgba(0, 0, 0, 0.055),rgba(0, 0, 0, 0.045),rgba(0, 0, 0, 0.062));
    
    }
    .logo{
        justify-content: center;
        text-align: center;
        margin-left: 5%;
    }
    .ima-log{
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
        width: 200px;
    }

}
@media screen and (max-width:380px) {
    .contenido{
        -webkit-box-reflect:below -600px linear-gradient(transparent, transparent,rgba(0, 0, 0, 0.021),rgba(0, 0, 0, 0.045),rgba(0, 0, 0, 0.062));
    
    }
}